@import "tailwindcss";
:root, .bright {
    --back-bright-200: oklch(89.4% 0.057 293.283);
    --inBord-deep-400: oklch(70.2% 0.183 293.541);
    --border-block-700: oklch(49.6% 0.265 301.924);
    --info-board-200: oklch(92.4% 0.12 95.746);
} .night {
    --color-furious-700: #4e3076;
    --back-gloomy-500: #6d63c2;
    --border-haunted-900: #7b1b61;
}